[submodule "external/mod2c"]
  path = external/mod2c
  url = https://github.com/BlueBrain/mod2c
[submodule "external/CLI11"]
  path = external/CLI11
  url = https://github.com/CLIUtils/CLI11.git
[submodule "external/nmodl"]
  path = external/nmodl
  url = https://github.com/BlueBrain/nmodl
