[submodule "external/mod2c"]
  path = external/mod2c
  url = https://github.com/BlueBrain/mod2c
[submodule "external/CLI11"]
  path = external/CLI11
  url = https://github.com/CLIUtils/CLI11.git
[submodule "external/nmodl"]
  path = external/nmodl
  url = https://github.com/BlueBrain/nmodl
[submodule "external/Random123"]
	path = external/Random123
	url = https://github.com/BlueBrain/Random123.git
[submodule "CMake/hpc-coding-conventions"]
	path = CMake/hpc-coding-conventions
	url = https://github.com/BlueBrain/hpc-coding-conventions.git
